@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body{
  font-family: "Roboto Condensed" sans-serif;
}


:root{
  --primary-white: #fff;
  --primary-orange:#f9ab00; 
  --primary-dark:rgba(255,255,255,0);
}
/* NAVBAR *8888888888888888888888888888888888888888888888888888888*/
 
.logo{
  width:16rem ;
}

.navbar-brand {
  max-width:15rem;
  padding:0 !important;
  height: 6rem !important; 
}


/* Menu Link  ---------------------------------------------------------*/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.037rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;

}

.navbar-nav > li > a {
  margin-right:0.75rem;
  color:var(--primary-white)!important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}


.navbar-nav > li > a:hover
{
  border-bottom: 0.1875rem solid var(--primary-orange);
}

.navbar-toggler{
  background-color: white !important;
}

.navbar-toggler:hover{
  background-color: rgb(226, 222, 222) !important;
}