@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


body{
  font-family: "Roboto Condensed" sans-serif;
}


:root{
  --primary-white: #fff;
  --primary-orange:#f9ab00; 
  --primary-dark:rgba(255,255,255,0);
}
/* NAVBAR *8888888888888888888888888888888888888888888888888888888*/
 
.logo{
  width:16rem ;
}

.navbar-brand {
  max-width:15rem;
  padding:0 !important;
  height: 6rem !important; 
}


/* Menu Link  ---------------------------------------------------------*/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.037rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;

}

.navbar-nav > li > a {
  margin-right:0.75rem;
  color:var(--primary-white)!important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}


.navbar-nav > li > a:hover
{
  border-bottom: 0.1875rem solid var(--primary-orange);
}

.navbar-toggler{
  background-color: white !important;
}

.navbar-toggler:hover{
  background-color: rgb(226, 222, 222) !important;
}

ul{
  margin-top: 0.1rem;
}


/* HEADER  8888888888888888888888888888888888 */

.header-wrapper{
  position: relative;
  background: url(./wall-and-laptop-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;


}

.main-info h1{
  color: var(--primary-orange);
  font-size: 3rem;
  /* margin-left: 7rem; */
  text-transform: uppercase;
}

/* Typed Text 888888888888888888888888888 */


.Typewriter__wrapper{
  color: white !important;
  font-size: 1.5rem;
  /* margin-left:7rem; */
}
